apiVersion: apps/v1
kind: Deployment
metadata:
  name: apí-deployment
  namespace: devops-tech-test
  labels:
    app: tech-test-apí
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-tech-test-app
  template:
    metadata:
      labels:
        app: devops-tech-test-api-v1
    spec:
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      containers:
        - name: api
          image:
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          env:
            - name: NODE_ENV
              value:
